# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# Build
/build/
out/
bin/

# Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/bin/
!**/src/test/**/bin/
.nb-gradle/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/

# VS Code
.vscode/