# IntelliJ IDEA 関連ファイルを無視
.idea/
fe/.idea/     # FE 側 IntelliJ 設定フォルダも無視
*.iml
*.iws
*.ipr

# ビルド成果物を無視
/build/
out/
bin/

# Gradle 関連
.gradle/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/bin/
!**/src/test/**/bin/
.nb-gradle/

# OS が生成する不要ファイル
.DS_Store
Thumbs.db

# ログファイル
*.log

# Spring Tool Suite (STS) 関連
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans 関連
/nbproject/private/
/nbbuild/
/dist/
/nbdist/

# Visual Studio Code 関連
.vscode/
